<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300693187130-jinh2t9d37vpav6qderpd08gflv24473.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300693187130-jinh2t9d37vpav6qderpd08gflv24473</string>
	<key>API_KEY</key>
	<string>AIzaSyAl4PTK7Y1IcDxZItmatoRVNGCGdQn4PK4</string>
	<key>GCM_SENDER_ID</key>
	<string>300693187130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ethiopharma.vendor</string>
	<key>PROJECT_ID</key>
	<string>eihiopharama-vender</string>
	<key>STORAGE_BUCKET</key>
	<string>eihiopharama-vender.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300693187130:ios:3bf711fa9134770af6e303</string>
</dict>
</plist>